.btn-blue {
  background-color: #1edd88; 
  color: white;
  padding: 16px 36px;
  border-radius: 50px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-blue:hover {
  background-color: #1bc87b;
  color: white;
}